.apartmentId {
    .img-slider-thumb {
        cursor: pointer;
        max-height: 90px;
    }
    .comforts-list {
        max-width: 300px;
    }
    .square-check-icon {
        color: $success;
    }
}