.user-background {
    width: 30px;
    height: 30px;
}

.dropstart {
    .nav-link::before {
        display: none;
    }
}
.profile-dropdown-menu {
    width: 300px;
}

.nav-link-icons {
    font-size: 1.5em;
}

.whatsapp {
    color: $green-500;
}

.telegram {
    color: $blue-500;
}

.viber {
    color: $purple-500;
}

.profile {
    .nav-link {
        display: flex;
        align-items: center;
    }
}