@import "bootstrap/scss/bootstrap";
@import "@vuepic/vue-datepicker/dist/main.css";
@import "./appHeader";
@import "./searchForm";
@import "./sliderBenefits";

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    header {
        justify-self: start;
    }
    footer {
        justify-self: end;
    }
}