.admin-sidebar {
    .btn-toggler {
        background: none;
        border: none;
        .icon {
            color: $white;
        }
    }
    .nav-link:hover {
        background-color: $secondary;
    }
    .active:hover {
        background-color: $blue-600;
    }
}